/01. dynamically allocating structure memory.exe
/01. dynamically allocating structure memory.o
/02. Function Array as a parameter.exe
/02. Function Array as a parameter.o
/03. pointer_of_structure.exe
/03. pointer_of_structure.o
/pointer_of_structure.exe
/pointer_of_structure.o
04. swapping.exe
04. swapping.o
05. swapping by reference.exe
05. swapping by reference.o
